In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random as pyran
%matplotlib inline

In [2]:
question=pd.read_csv('dataset_and_all/test_set_features.csv')
question

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1.0,0.0,nduyfdeo,pvmttkik
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1.0,0.0,NaN,NaN
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26703,53410,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,dqpwygqj,"MSA, Principle City",1.0,1.0,NaN,NaN
26704,53411,3.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,...,Below Poverty,Married,Rent,Employed,qufhixun,Non-MSA,1.0,3.0,fcxhlnwr,vlluhbov
26705,53412,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,qufhixun,"MSA, Not Principle City",1.0,0.0,NaN,NaN
26706,53413,3.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,bhuqouqj,"MSA, Not Principle City",1.0,0.0,NaN,NaN
26707,53414,2.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,NaN,Not Married,Rent,Employed,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,xtkaffoo

In [3]:
question.shape

(26708, 36)

In [4]:
question.isna().sum()

respondent_id                      0
xyz_concern                       85
xyz_knowledge                    122
behavioral_antiviral_meds         79
behavioral_avoidance             213
behavioral_face_mask              19
behavioral_wash_hands             40
behavioral_large_gatherings       72
behavioral_outside_home           82
behavioral_touch_face            128
doctor_recc_xyz                 2160
doctor_recc_seasonal            2160
chronic_med_condition            932
child_under_6_months             813
health_worker                    789
health_insurance               12228
opinion_xyz_vacc_effective       398
opinion_xyz_risk                 380
opinion_xyz_sick_from_vacc       375
opinion_seas_vacc_effective      452
opinion_seas_risk                499
opinion_seas_sick_from_vacc      521
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4497
marital_status                  1442
rent_or_own                     2036
employment_status               1471
hhs_geo_region                     0
census_msa                         0
household_adults                 225
household_children               225
employment_industry            13275
employment_occupation          13426
dtype: int64

In [5]:
selectcols=question.loc[:,'behavioral_antiviral_meds':'behavioral_touch_face'].columns
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, 
                        strategy ='median')
imputer = imputer.fit(question.loc[:,'behavioral_antiviral_meds':'behavioral_touch_face'])
question.loc[:,'behavioral_antiviral_meds':'behavioral_touch_face'] = imputer.transform(question.loc[:,'behavioral_antiviral_meds':'behavioral_touch_face'])
#for col in selectcols:
#   question[col]=question[col].fillna(0)

In [6]:
question.isna().sum()
question.behavioral_antiviral_meds.value_counts()

behavioral_antiviral_meds
0.0    25386
1.0     1322
Name: count, dtype: int64

In [7]:
pd.set_option('display.max_columns',40)

In [8]:
question[question.loc[:,'doctor_recc_xyz'].isna()]

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_xyz,doctor_recc_seasonal,chronic_med_condition,child_under_6_months,health_worker,health_insurance,opinion_xyz_vacc_effective,opinion_xyz_risk,opinion_xyz_sick_from_vacc,opinion_seas_vacc_effective,opinion_seas_risk,opinion_seas_sick_from_vacc,age_group,education,race,sex,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
17,26724,2.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,4.0,2.0,2.0,5.0,2.0,1.0,65+ Years,Some College,White,Female,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,qufhixun,"MSA, Not Principle City",0.0,0.0,NaN,NaN
18,26725,3.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,NaN,4.0,1.0,4.0,4.0,1.0,4.0,45 - 54 Years,Some College,White,Male,"> $75,000",Married,Own,Employed,fpwskwrf,"MSA, Not Principle City",2.0,1.0,pxcmvdjn,xgwztkwe
77,26784,2.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN,1.0,0.0,1.0,NaN,4.0,2.0,2.0,4.0,4.0,1.0,55 - 64 Years,College Graduate,White,Female,"> $75,000",Married,Own,Employed,bhuqouqj,"MSA, Principle City",2.0,0.0,fcxhlnwr,cmhcxjea
101,26808,2.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,NaN,NaN,0.0,0.0,0.0,NaN,4.0,4.0,1.0,4.0,4.0,2.0,45 - 54 Years,Some College,White,Male,"> $75,000",Married,Own,Employed,lzgpxyit,"MSA, Not Principle City",1.0,2.0,arjwrbjb,xtkaffoo
110,26817,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,NaN,4.0,2.0,2.0,4.0,4.0,2.0,65+ Years,College Graduate,White,Female,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,oxchjgsf,"MSA, Principle City",1.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26595,53302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,NaN,4.0,2.0,2.0,4.0,2.0,2.0,18 - 34 Years,College Graduate,White,Male,"> $75,000",Not Married,Own,Employed,kbazzjca,Non-MSA,2.0,0.0,ldnlellj,hodpvpew
26600,53307,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,1.0,0.0,0.0,1.0,5.0,4.0,1.0,5.0,5.0,1.0,35 - 44 Years,Some College,Other or Multiple,Female,"> $75,000",Married,Own,Employed,atmpeygn,"MSA, Principle City",1.0,0.0,wxleyezf,mxkfnird
26630,53337,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,1.0,3.0,1.0,4.0,4.0,1.0,4.0,55 - 64 Years,College Graduate,White,Female,"<= $75,000, Above Poverty",Not Married,Own,Employed,fpwskwrf,"MSA, Not Principle City",0.0,0.0,wxleyezf,xtkaffoo
26665,53372,3.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,1.0,4.0,1.0,1.0,4.0,4.0,1.0,45 - 54 Years,College Graduate,White,Male,"<= $75,000, Above Poverty",Married,Own,Unemployed,bhuqouqj,"MSA, Not Principle City",1.0,0.0,NaN,NaN
26670,53377,3.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,NaN,NaN,0.0,1.0,0.0,NaN,4.0,5.0,4.0,5.0,5.0,4.0,35 - 44 Years,12 Years,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,lrircsnp,"MSA, Not Principle City",1.0,2.0,wxleyezf,mxkfnird

In [9]:
question.doctor_recc_seasonal.value_counts(dropna=False)

doctor_recc_seasonal
0.0    16360
1.0     8188
NaN     2160
Name: count, dtype: int64

In [10]:
question['doctor_recc_xyz']=question['doctor_recc_xyz'].fillna(0)
question['doctor_recc_seasonal']=question['doctor_recc_seasonal'].fillna(0)

In [11]:
question['behavior']=0
for col in selectcols:
    question['behavior']=question['behavior']+question[col]

In [12]:
question1=question.drop(columns=selectcols).copy()

In [13]:
question1.health_insurance.value_counts(dropna=False)

health_insurance
1.0    12857
NaN    12228
0.0     1623
Name: count, dtype: int64

In [14]:
question1.child_under_6_months.value_counts(dropna=False)

child_under_6_months
0.0    23660
1.0     2235
NaN      813
Name: count, dtype: int64

In [15]:
question1['child_under_6_months']=question1.child_under_6_months.fillna(0.0)
question1['health_insurance']=question1.health_insurance.fillna(1.0)

In [16]:
question1.opinion_seas_vacc_effective.value_counts(dropna=False)

opinion_seas_vacc_effective
4.0    11502
5.0     9997
2.0     2284
3.0     1321
1.0     1152
NaN      452
Name: count, dtype: int64

In [17]:
question1['opinion_seas_vacc_effective']=question1.opinion_seas_vacc_effective.fillna(4.0)

In [18]:
question1.opinion_xyz_vacc_effective.value_counts(dropna=False)

opinion_xyz_vacc_effective
4.0    11734
5.0     7065
3.0     4790
2.0     1800
1.0      921
NaN      398
Name: count, dtype: int64

In [19]:
question1['opinion_xyz_vacc_effective']=question1.opinion_xyz_vacc_effective.fillna(4.0)

In [20]:
question1.isna().sum()

respondent_id                      0
xyz_concern                       85
xyz_knowledge                    122
doctor_recc_xyz                    0
doctor_recc_seasonal               0
chronic_med_condition            932
child_under_6_months               0
health_worker                    789
health_insurance                   0
opinion_xyz_vacc_effective         0
opinion_xyz_risk                 380
opinion_xyz_sick_from_vacc       375
opinion_seas_vacc_effective        0
opinion_seas_risk                499
opinion_seas_sick_from_vacc      521
age_group                          0
education                       1407
race                               0
sex                                0
income_poverty                  4497
marital_status                  1442
rent_or_own                     2036
employment_status               1471
hhs_geo_region                     0
census_msa                         0
household_adults                 225
household_children               225
employment_industry            13275
employment_occupation          13426
behavior                           0
dtype: int64

In [21]:
question1=question1.drop(columns=['marital_status','rent_or_own','race']).copy()

In [22]:
new=question1.copy()

In [23]:
new.employment_industry.value_counts(dropna=False)

employment_industry
NaN         13275
fcxhlnwr     2484
wxleyezf     1805
ldnlellj     1224
pxcmvdjn     1078
arjwrbjb      885
xicduogh      847
atmlpfrs      822
mfikgejo      649
vjjrobsf      567
rucpziij      538
xqicxuve      527
saaquncn      338
cfqqtusy      304
nduyfdeo      292
mcubkhph      262
dotnnunm      220
wlfvacwt      212
haxffmxo      160
msuufmds      132
phxvnwax       81
qnlwzans        6
Name: count, dtype: int64

In [24]:
new.employment_occupation.value_counts(dropna=False)

employment_occupation
NaN         13426
xtkaffoo     1748
mxkfnird     1561
emcorrxb     1284
cmhcxjea     1224
xgwztkwe     1138
hfxkjkmi      725
uqqtjvyb      501
qxajmpny      499
xqwwgdyp      475
kldqjyjy      446
tfqavkke      402
ccgxvspp      368
oijqvulv      346
bxpfxfdn      331
ukymxvdu      329
vlluhbov      325
haliazsg      300
rcertsgn      297
hodpvpew      253
dlvbwzss      245
xzmlyyjv      216
dcjcmpih      161
pvmttkik      108
Name: count, dtype: int64

In [25]:
new=new.drop(columns=['employment_industry','employment_occupation']).copy()

In [26]:
new.census_msa.value_counts(dropna=False)

census_msa
MSA, Not Principle  City    11926
MSA, Principle City          7805
Non-MSA                      6977
Name: count, dtype: int64

In [27]:
new=new.drop(columns=['census_msa','hhs_geo_region']).copy()

In [28]:
new.isna().sum()

respondent_id                     0
xyz_concern                      85
xyz_knowledge                   122
doctor_recc_xyz                   0
doctor_recc_seasonal              0
chronic_med_condition           932
child_under_6_months              0
health_worker                   789
health_insurance                  0
opinion_xyz_vacc_effective        0
opinion_xyz_risk                380
opinion_xyz_sick_from_vacc      375
opinion_seas_vacc_effective       0
opinion_seas_risk               499
opinion_seas_sick_from_vacc     521
age_group                         0
education                      1407
sex                               0
income_poverty                 4497
employment_status              1471
household_adults                225
household_children              225
behavior                          0
dtype: int64

In [29]:
new.chronic_med_condition.value_counts(dropna=False)

chronic_med_condition
0.0    18532
1.0     7244
NaN      932
Name: count, dtype: int64

In [30]:
new.sex.value_counts()

sex
Female    15834
Male      10874
Name: count, dtype: int64

In [31]:
new=new.drop(columns='sex').copy()

In [32]:
new.employment_status.value_counts(dropna=False)

employment_status
Employed              13632
Not in Labor Force    10092
Unemployed             1513
NaN                    1471
Name: count, dtype: int64

In [33]:
new['employment_status']=new['employment_status'].fillna('Employed').copy()

In [34]:
for i in range(new.shape[0]):
    variable=new.loc[i,'employment_status']
    if variable=='Not in Labor Force':
        new.loc[i,'employment_status_weight']=3
    elif variable=='Employed':
        new.loc[i,'employment_status_weight']=2
    else:
        new.loc[i,'employment_status_weight']=1

In [35]:
new.employment_status_weight.value_counts(dropna=False)

employment_status_weight
2.0    15103
3.0    10092
1.0     1513
Name: count, dtype: int64

In [36]:
new=new.drop(columns='employment_status').copy()

In [37]:
new.isna().sum()

respondent_id                     0
xyz_concern                      85
xyz_knowledge                   122
doctor_recc_xyz                   0
doctor_recc_seasonal              0
chronic_med_condition           932
child_under_6_months              0
health_worker                   789
health_insurance                  0
opinion_xyz_vacc_effective        0
opinion_xyz_risk                380
opinion_xyz_sick_from_vacc      375
opinion_seas_vacc_effective       0
opinion_seas_risk               499
opinion_seas_sick_from_vacc     521
age_group                         0
education                      1407
income_poverty                 4497
household_adults                225
household_children              225
behavior                          0
employment_status_weight          0
dtype: int64

In [38]:
new.household_adults.value_counts(dropna=False)

household_adults
1.0    14533
0.0     7943
2.0     2870
3.0     1137
NaN      225
Name: count, dtype: int64

In [39]:
new.household_children.value_counts(dropna=False)

household_children
0.0    18571
1.0     3228
2.0     2880
3.0     1804
NaN      225
Name: count, dtype: int64

In [40]:
new['household_adults']=new['household_adults'].fillna(1.0).copy()
new['household_children']=new['household_children'].fillna(0.0).copy()

In [41]:
new.isna().sum()

respondent_id                     0
xyz_concern                      85
xyz_knowledge                   122
doctor_recc_xyz                   0
doctor_recc_seasonal              0
chronic_med_condition           932
child_under_6_months              0
health_worker                   789
health_insurance                  0
opinion_xyz_vacc_effective        0
opinion_xyz_risk                380
opinion_xyz_sick_from_vacc      375
opinion_seas_vacc_effective       0
opinion_seas_risk               499
opinion_seas_sick_from_vacc     521
age_group                         0
education                      1407
income_poverty                 4497
household_adults                  0
household_children                0
behavior                          0
employment_status_weight          0
dtype: int64

In [42]:
new.income_poverty.value_counts(dropna=False)

income_poverty
<= $75,000, Above Poverty    12775
> $75,000                     6863
NaN                           4497
Below Poverty                 2573
Name: count, dtype: int64

In [43]:
new[new.opinion_seas_risk!=np.nan].loc[:,'opinion_seas_risk'].agg(['mean'])#,'median','mode'])

mean    2.708688
Name: opinion_seas_risk, dtype: float64

In [44]:
new['opinion_xyz_risk']=new.opinion_xyz_risk.fillna(2.0)
new['opinion_xyz_sick_from_vacc']=new.opinion_xyz_sick_from_vacc.fillna(2.0)
new['opinion_seas_risk']=new.opinion_seas_risk.fillna(2.0)
new['opinion_seas_sick_from_vacc']=new.opinion_seas_sick_from_vacc.fillna(2.0)

In [45]:
new.isna().sum()

respondent_id                     0
xyz_concern                      85
xyz_knowledge                   122
doctor_recc_xyz                   0
doctor_recc_seasonal              0
chronic_med_condition           932
child_under_6_months              0
health_worker                   789
health_insurance                  0
opinion_xyz_vacc_effective        0
opinion_xyz_risk                  0
opinion_xyz_sick_from_vacc        0
opinion_seas_vacc_effective       0
opinion_seas_risk                 0
opinion_seas_sick_from_vacc       0
age_group                         0
education                      1407
income_poverty                 4497
household_adults                  0
household_children                0
behavior                          0
employment_status_weight          0
dtype: int64

In [46]:
new['opinion_xyz']=(6-new['opinion_xyz_vacc_effective'])+new['opinion_xyz_risk']+new['opinion_xyz_sick_from_vacc']
new['opinion_seas']=(6-new['opinion_seas_vacc_effective'])+new['opinion_seas_risk']+new['opinion_seas_sick_from_vacc']

In [47]:
new.isna().sum()

respondent_id                     0
xyz_concern                      85
xyz_knowledge                   122
doctor_recc_xyz                   0
doctor_recc_seasonal              0
chronic_med_condition           932
child_under_6_months              0
health_worker                   789
health_insurance                  0
opinion_xyz_vacc_effective        0
opinion_xyz_risk                  0
opinion_xyz_sick_from_vacc        0
opinion_seas_vacc_effective       0
opinion_seas_risk                 0
opinion_seas_sick_from_vacc       0
age_group                         0
education                      1407
income_poverty                 4497
household_adults                  0
household_children                0
behavior                          0
employment_status_weight          0
opinion_xyz                       0
opinion_seas                      0
dtype: int64

In [48]:
new=new.drop(columns=['opinion_xyz_vacc_effective','opinion_xyz_risk','opinion_xyz_sick_from_vacc',
                 'opinion_seas_vacc_effective','opinion_seas_risk','opinion_seas_sick_from_vacc']).copy()

In [49]:
new

,respondent_id,xyz_concern,xyz_knowledge,doctor_recc_xyz,doctor_recc_seasonal,chronic_med_condition,child_under_6_months,health_worker,health_insurance,age_group,education,income_poverty,household_adults,household_children,behavior,employment_status_weight,opinion_xyz,opinion_seas
0,26707,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,35 - 44 Years,College Graduate,"> $75,000",1.0,0.0,4.0,2.0,3.0,3.0
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,18 - 34 Years,12 Years,Below Poverty,3.0,0.0,0.0,2.0,4.0,4.0
2,26709,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,55 - 64 Years,College Graduate,"> $75,000",1.0,0.0,5.0,2.0,7.0,9.0
3,26710,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,65+ Years,12 Years,"<= $75,000, Above Poverty",1.0,0.0,0.0,3.0,6.0,8.0
4,26711,3.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,35 - 44 Years,12 Years,"<= $75,000, Above Poverty",0.0,1.0,6.0,2.0,7.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26703,53410,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,35 - 44 Years,NaN,NaN,1.0,1.0,3.0,2.0,6.0,5.0
26704,53411,3.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,18 - 34 Years,12 Years,Below Poverty,1.0,3.0,5.0,2.0,4.0,5.0
26705,53412,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,18 - 34 Years,Some College,Below Poverty,1.0,0.0,0.0,3.0,6.0,6.0
26706,53413,3.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,55 - 64 Years,Some College,"<= $75,000, Above Poverty",1.0,0.0,3.0,3.0,11.0,7.0
26707,53414,2.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,45 - 54 Years,College Graduate,NaN,0.0,0.0,2.0,2.0,4.0,7.0

In [50]:
new.isna().sum()

respondent_id                  0
xyz_concern                   85
xyz_knowledge                122
doctor_recc_xyz                0
doctor_recc_seasonal           0
chronic_med_condition        932
child_under_6_months           0
health_worker                789
health_insurance               0
age_group                      0
education                   1407
income_poverty              4497
household_adults               0
household_children             0
behavior                       0
employment_status_weight       0
opinion_xyz                    0
opinion_seas                   0
dtype: int64

In [51]:
new.xyz_concern.value_counts(dropna=False)

xyz_concern
2.0    10743
1.0     8158
3.0     4523
0.0     3199
NaN       85
Name: count, dtype: int64

In [52]:
new[new.xyz_concern!=np.nan].loc[:,'xyz_concern'].agg(['median'])#,'median','mode'])

median    2.0
Name: xyz_concern, dtype: float64

In [53]:
new.xyz_knowledge.value_counts(dropna=False)

xyz_knowledge
1.0    14629
2.0     9515
0.0     2442
NaN      122
Name: count, dtype: int64

In [54]:
new[new.xyz_knowledge!=np.nan].loc[:,'xyz_knowledge'].agg(['mean'])#,'median','mode'])

mean    1.266042
Name: xyz_knowledge, dtype: float64

In [55]:
new['xyz_concern']=new['xyz_concern'].fillna(2.0)
new['xyz_knowledge']=new['xyz_knowledge'].fillna(1.0)

In [56]:
new.isna().sum()

respondent_id                  0
xyz_concern                    0
xyz_knowledge                  0
doctor_recc_xyz                0
doctor_recc_seasonal           0
chronic_med_condition        932
child_under_6_months           0
health_worker                789
health_insurance               0
age_group                      0
education                   1407
income_poverty              4497
household_adults               0
household_children             0
behavior                       0
employment_status_weight       0
opinion_xyz                    0
opinion_seas                   0
dtype: int64

In [57]:
new.chronic_med_condition.value_counts(dropna=False)

chronic_med_condition
0.0    18532
1.0     7244
NaN      932
Name: count, dtype: int64

In [58]:
new.health_worker.value_counts(dropna=False)

health_worker
0.0    23029
1.0     2890
NaN      789
Name: count, dtype: int64

In [59]:
new['chronic_med_condition']=new['chronic_med_condition'].fillna(0.0)
new['health_worker']=new['health_worker'].fillna(0.0)

In [60]:
new.isna().sum()

respondent_id                  0
xyz_concern                    0
xyz_knowledge                  0
doctor_recc_xyz                0
doctor_recc_seasonal           0
chronic_med_condition          0
child_under_6_months           0
health_worker                  0
health_insurance               0
age_group                      0
education                   1407
income_poverty              4497
household_adults               0
household_children             0
behavior                       0
employment_status_weight       0
opinion_xyz                    0
opinion_seas                   0
dtype: int64

In [61]:
new.education.value_counts(dropna=False)

education
College Graduate    10186
Some College         7080
12 Years             5699
< 12 Years           2336
NaN                  1407
Name: count, dtype: int64

In [62]:
new['education']=new['education'].fillna('College Graduate').copy()

In [63]:
for i in range(new.shape[0]):
    variable=new.loc[i,'education']
    if variable=='College Graduate' or variable=='Some College':
        new.loc[i,'education_weight']=3
    elif variable=='12 Years':
        new.loc[i,'education_weight']=2
    else:
        new.loc[i,'education_weight']=1

In [64]:
new.education_weight.value_counts(dropna=False)

education_weight
3.0    18673
2.0     5699
1.0     2336
Name: count, dtype: int64

In [65]:
new=new.drop(columns='education').copy()

In [66]:
new.isna().sum()

respondent_id                  0
xyz_concern                    0
xyz_knowledge                  0
doctor_recc_xyz                0
doctor_recc_seasonal           0
chronic_med_condition          0
child_under_6_months           0
health_worker                  0
health_insurance               0
age_group                      0
income_poverty              4497
household_adults               0
household_children             0
behavior                       0
employment_status_weight       0
opinion_xyz                    0
opinion_seas                   0
education_weight               0
dtype: int64

In [67]:
new.income_poverty.value_counts(dropna=False)

income_poverty
<= $75,000, Above Poverty    12775
> $75,000                     6863
NaN                           4497
Below Poverty                 2573
Name: count, dtype: int64

In [68]:
for i in range(new.shape[0]):
    variable=new.loc[i,'income_poverty']
    if variable=='<= $75,000, Above Poverty':
        new.loc[i,'income_poverty_weight']=2
    elif variable=='> $75,000':
        new.loc[i,'income_poverty_weight']=3
    elif variable=='Below Poverty':
        new.loc[i,'income_poverty_weight']=1
    else:
        new.loc[i,'income_poverty_weight']=2

In [69]:
new.income_poverty_weight.value_counts()

income_poverty_weight
2.0    17272
3.0     6863
1.0     2573
Name: count, dtype: int64

In [70]:
new=new.drop(columns='income_poverty').copy()

In [71]:
new.isna().sum()

respondent_id               0
xyz_concern                 0
xyz_knowledge               0
doctor_recc_xyz             0
doctor_recc_seasonal        0
chronic_med_condition       0
child_under_6_months        0
health_worker               0
health_insurance            0
age_group                   0
household_adults            0
household_children          0
behavior                    0
employment_status_weight    0
opinion_xyz                 0
opinion_seas                0
education_weight            0
income_poverty_weight       0
dtype: int64

In [72]:
new

,respondent_id,xyz_concern,xyz_knowledge,doctor_recc_xyz,doctor_recc_seasonal,chronic_med_condition,child_under_6_months,health_worker,health_insurance,age_group,household_adults,household_children,behavior,employment_status_weight,opinion_xyz,opinion_seas,education_weight,income_poverty_weight
0,26707,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,35 - 44 Years,1.0,0.0,4.0,2.0,3.0,3.0,3.0,3.0
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,18 - 34 Years,3.0,0.0,0.0,2.0,4.0,4.0,2.0,1.0
2,26709,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,55 - 64 Years,1.0,0.0,5.0,2.0,7.0,9.0,3.0,3.0
3,26710,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,65+ Years,1.0,0.0,0.0,3.0,6.0,8.0,2.0,2.0
4,26711,3.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,35 - 44 Years,0.0,1.0,6.0,2.0,7.0,8.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26703,53410,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,35 - 44 Years,1.0,1.0,3.0,2.0,6.0,5.0,3.0,2.0
26704,53411,3.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,18 - 34 Years,1.0,3.0,5.0,2.0,4.0,5.0,2.0,1.0
26705,53412,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,18 - 34 Years,1.0,0.0,0.0,3.0,6.0,6.0,3.0,1.0
26706,53413,3.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,55 - 64 Years,1.0,0.0,3.0,3.0,11.0,7.0,3.0,2.0
26707,53414,2.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,45 - 54 Years,0.0,0.0,2.0,2.0,4.0,7.0,3.0,2.0

In [73]:
new.age_group.value_counts()

age_group
65+ Years        6718
55 - 64 Years    5529
45 - 54 Years    5257
18 - 34 Years    5234
35 - 44 Years    3970
Name: count, dtype: int64

In [74]:
for i in range(new.shape[0]):
    variable=new.loc[i,'age_group']
    if variable=='18 - 34 Years':
        new.loc[i,'age_group_weight']=3
    elif variable=='35 - 44 Years':
        new.loc[i,'age_group_weight']=4
    elif variable=='45 - 54 Years':
        new.loc[i,'age_group_weight']=4.5
    elif variable=='55 - 64 Years':
        new.loc[i,'age_group_weight']=6
    else:
        new.loc[i,'age_group_weight']=7.5

In [75]:
new.age_group_weight.value_counts()

age_group_weight
7.5    6718
6.0    5529
4.5    5257
3.0    5234
4.0    3970
Name: count, dtype: int64

In [76]:
new=new.drop(columns='age_group').copy()

In [77]:
new

,respondent_id,xyz_concern,xyz_knowledge,doctor_recc_xyz,doctor_recc_seasonal,chronic_med_condition,child_under_6_months,health_worker,health_insurance,household_adults,household_children,behavior,employment_status_weight,opinion_xyz,opinion_seas,education_weight,income_poverty_weight,age_group_weight
0,26707,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0,2.0,3.0,3.0,3.0,3.0,4.0
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,2.0,4.0,4.0,2.0,1.0,3.0
2,26709,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,5.0,2.0,7.0,9.0,3.0,3.0,6.0
3,26710,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,3.0,6.0,8.0,2.0,2.0,7.5
4,26711,3.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,6.0,2.0,7.0,8.0,2.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26703,53410,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,3.0,2.0,6.0,5.0,3.0,2.0,4.0
26704,53411,3.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,3.0,5.0,2.0,4.0,5.0,2.0,1.0,3.0
26705,53412,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,3.0,6.0,6.0,3.0,1.0,3.0
26706,53413,3.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,3.0,3.0,11.0,7.0,3.0,2.0,6.0
26707,53414,2.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,2.0,4.0,7.0,3.0,2.0,4.5

In [78]:
new.dtypes

respondent_id                 int64
xyz_concern                 float64
xyz_knowledge               float64
doctor_recc_xyz             float64
doctor_recc_seasonal        float64
chronic_med_condition       float64
child_under_6_months        float64
health_worker               float64
health_insurance            float64
household_adults            float64
household_children          float64
behavior                    float64
employment_status_weight    float64
opinion_xyz                 float64
opinion_seas                float64
education_weight            float64
income_poverty_weight       float64
age_group_weight            float64
dtype: object

In [79]:
new.to_csv('updatedtest1.csv',index=False)