In [1]:
import random as pyrand
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
trainset=pd.read_csv('updatedtrain.csv')
trainset

,respondent_id,xyz_concern,xyz_knowledge,doctor_recc_xyz,doctor_recc_seasonal,chronic_med_condition,child_under_6_months,health_worker,health_insurance,household_adults,household_children,behavior,employment_status_weight,opinion_xyz,opinion_seas,education_weight,income_poverty_weight,age_group_weight
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,3.0,6.0,7.0,1.0,1.0,6.0
1,1,3.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,4.0,2.0,9.0,8.0,2.0,1.0,4.0
2,2,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,0.0,1.0,2.0,5.0,5.0,3.0,2.0,3.0
3,3,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,3.0,11.0,6.0,2.0,1.0,7.5
4,4,2.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0,2.0,8.0,8.0,3.0,2.0,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,26702,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,3.0,5.0,5.0,3.0,2.0,7.5
26703,26703,1.0,2.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,2.0,2.0,6.0,3.0,3.0,2.0,3.0
26704,26704,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,2.0,8.0,7.0,3.0,2.0,6.0
26705,26705,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,6.0,7.0,3.0,2.0,3.0
26706,26706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,3.0,3.0,3.0,3.0,2.0,7.5

In [3]:
trainset.shape

(26707, 18)

In [4]:
trainset.isna().sum()

respondent_id               0
xyz_concern                 0
xyz_knowledge               0
doctor_recc_xyz             0
doctor_recc_seasonal        0
chronic_med_condition       0
child_under_6_months        0
health_worker               0
health_insurance            0
household_adults            0
household_children          0
behavior                    0
employment_status_weight    0
opinion_xyz                 0
opinion_seas                0
education_weight            0
income_poverty_weight       0
age_group_weight            0
dtype: int64

In [5]:
trainset.dtypes

respondent_id                 int64
xyz_concern                 float64
xyz_knowledge               float64
doctor_recc_xyz             float64
doctor_recc_seasonal        float64
chronic_med_condition       float64
child_under_6_months        float64
health_worker               float64
health_insurance            float64
household_adults            float64
household_children          float64
behavior                    float64
employment_status_weight    float64
opinion_xyz                 float64
opinion_seas                float64
education_weight            float64
income_poverty_weight       float64
age_group_weight            float64
dtype: object

In [6]:
trainset.columns

Index(['respondent_id', 'xyz_concern', 'xyz_knowledge', 'doctor_recc_xyz',
       'doctor_recc_seasonal', 'chronic_med_condition', 'child_under_6_months',
       'health_worker', 'health_insurance', 'household_adults',
       'household_children', 'behavior', 'employment_status_weight',
       'opinion_xyz', 'opinion_seas', 'education_weight',
       'income_poverty_weight', 'age_group_weight'],
      dtype='object')

In [7]:
trainset.behavior.value_counts().sort_index()

behavior
0.0    2060
1.0    2656
2.0    4568
3.0    7331
4.0    4335
5.0    4546
6.0    1040
7.0     171
Name: count, dtype: int64

In [8]:
targettrain=pd.read_csv('dataset_and_all/training_set_labels.csv')
targettrain

       respondent_id  xyz_vaccine  seasonal_vaccine
0                  0            0                 0
1                  1            0                 1
2                  2            0                 0
3                  3            0                 1
4                  4            0                 0
...              ...          ...               ...
26702          26702            0                 0
26703          26703            0                 0
26704          26704            0                 1
26705          26705            0                 0
26706          26706            0                 0

[26707 rows x 3 columns]

In [9]:
newtrain1=pd.merge(trainset,targettrain,on='respondent_id',how='inner')
newtrain=newtrain1.drop(columns='respondent_id').copy()

In [10]:
newtrain[(newtrain.behavior==7)&(newtrain.seasonal_vaccine==0)].shape

(90, 19)

In [11]:
collist1=['xyz_concern','xyz_knowledge','doctor_recc_xyz','chronic_med_condition','household_adults','household_children','health_insurance',
        'health_worker','behavior','opinion_xyz','income_poverty_weight','age_group_weight','child_under_6_months','education_weight'
          ,'employment_status_weight'
        ]
collist2=['doctor_recc_seasonal','chronic_med_condition','household_adults','household_children','health_insurance',
        'health_worker','behavior','opinion_seas','income_poverty_weight','age_group_weight','child_under_6_months','education_weight'
          ,'employment_status_weight'
        ]

In [12]:
from sklearn.model_selection import train_test_split
X1_train, X1_test, y1_train, y1_test = train_test_split(newtrain.loc[:,collist1],newtrain.loc[:,'xyz_vaccine'], test_size=0.5, random_state=50)
X2_train, X2_test, y2_train, y2_test = train_test_split(newtrain.loc[:,collist2],newtrain.loc[:,'seasonal_vaccine'], test_size=0.5, random_state=50)

In [13]:
samp1,samp2,ytraincombined,ytestcombined=train_test_split(newtrain.loc[:,collist1],newtrain.loc[:,'xyz_vaccine':'seasonal_vaccine'], test_size=0.5, random_state=50)

In [14]:
ytraincombined

       xyz_vaccine  seasonal_vaccine
3480             0                 1
22041            1                 1
25527            0                 0
3058             1                 1
25123            1                 1
...            ...               ...
15649            0                 0
22637            0                 1
10123            0                 1
5600             1                 1
14000            1                 1

[13353 rows x 2 columns]

In [15]:
ytestcombined

       xyz_vaccine  seasonal_vaccine
20463            0                 1
14057            0                 0
8372             0                 0
21740            0                 1
15147            0                 1
...            ...               ...
8904             1                 1
5645             0                 0
4024             0                 1
8464             0                 0
11990            1                 1

[13354 rows x 2 columns]

In [16]:
X1_train

,xyz_concern,xyz_knowledge,doctor_recc_xyz,chronic_med_condition,household_adults,household_children,health_insurance,health_worker,behavior,opinion_xyz,income_poverty_weight,age_group_weight,child_under_6_months,education_weight,employment_status_weight
3480,1.0,2.0,0.0,1.0,0.0,0.0,1.0,0.0,3.0,3.0,2.0,7.5,0.0,2.0,3.0
22041,2.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,3.0,6.0,2.0,6.0,0.0,3.0,3.0
25527,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,4.0,2.0,3.0,0.0,3.0,3.0
3058,3.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,4.0,8.0,2.0,7.5,1.0,3.0,1.0
25123,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,3.0,3.0,7.5,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15649,1.0,1.0,0.0,0.0,1.0,2.0,1.0,0.0,2.0,6.0,2.0,4.0,0.0,3.0,2.0
22637,0.0,0.0,0.0,0.0,2.0,3.0,1.0,0.0,0.0,7.0,2.0,3.0,0.0,3.0,2.0
10123,3.0,2.0,0.0,1.0,1.0,0.0,1.0,0.0,3.0,7.0,3.0,6.0,0.0,3.0,3.0
5600,2.0,2.0,0.0,0.0,1.0,0.0,1.0,0.0,3.0,9.0,3.0,6.0,0.0,3.0,2.0
14000,2.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,6.0,8.0,2.0,6.0,0.0,3.0,2.0

In [17]:
X1_test

,xyz_concern,xyz_knowledge,doctor_recc_xyz,chronic_med_condition,household_adults,household_children,health_insurance,health_worker,behavior,opinion_xyz,income_poverty_weight,age_group_weight,child_under_6_months,education_weight,employment_status_weight
20463,3.0,1.0,1.0,0.0,1.0,2.0,1.0,0.0,5.0,13.0,2.0,3.0,0.0,3.0,2.0
14057,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,6.0,2.0,7.5,0.0,2.0,3.0
8372,2.0,1.0,0.0,0.0,1.0,3.0,0.0,0.0,3.0,10.0,2.0,3.0,0.0,2.0,2.0
21740,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,3.0,7.0,2.0,7.5,0.0,3.0,3.0
15147,2.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0,8.0,2.0,7.5,0.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8904,2.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,4.0,8.0,2.0,7.5,0.0,3.0,2.0
5645,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,6.0,2.0,3.0,0.0,3.0,2.0
4024,3.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,3.0,11.0,2.0,7.5,1.0,3.0,2.0
8464,2.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,6.0,2.0,7.5,0.0,1.0,3.0
11990,2.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,3.0,4.0,2.0,7.5,0.0,3.0,3.0

In [18]:
y1_train

3480     0
22041    1
25527    0
3058     1
25123    1
        ..
15649    0
22637    0
10123    0
5600     1
14000    1
Name: xyz_vaccine, Length: 13353, dtype: int64

In [19]:
y1_test

20463    0
14057    0
8372     0
21740    0
15147    0
        ..
8904     1
5645     0
4024     0
8464     0
11990    1
Name: xyz_vaccine, Length: 13354, dtype: int64

In [20]:
X2_train

,doctor_recc_seasonal,chronic_med_condition,household_adults,household_children,health_insurance,health_worker,behavior,opinion_seas,income_poverty_weight,age_group_weight,child_under_6_months,education_weight,employment_status_weight
3480,1.0,1.0,0.0,0.0,1.0,0.0,3.0,7.0,2.0,7.5,0.0,2.0,3.0
22041,1.0,0.0,1.0,0.0,1.0,1.0,3.0,7.0,2.0,6.0,0.0,3.0,3.0
25527,0.0,0.0,1.0,0.0,1.0,0.0,2.0,9.0,2.0,3.0,0.0,3.0,3.0
3058,0.0,0.0,1.0,0.0,1.0,0.0,4.0,9.0,2.0,7.5,1.0,3.0,1.0
25123,0.0,1.0,1.0,0.0,1.0,0.0,0.0,3.0,3.0,7.5,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15649,0.0,0.0,1.0,2.0,1.0,0.0,2.0,8.0,2.0,4.0,0.0,3.0,2.0
22637,0.0,0.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,3.0,0.0,3.0,2.0
10123,1.0,1.0,1.0,0.0,1.0,0.0,3.0,8.0,3.0,6.0,0.0,3.0,3.0
5600,0.0,0.0,1.0,0.0,1.0,0.0,3.0,10.0,3.0,6.0,0.0,3.0,2.0
14000,0.0,0.0,1.0,0.0,1.0,0.0,6.0,6.0,2.0,6.0,0.0,3.0,2.0

In [21]:
y2_train

3480     1
22041    1
25527    0
3058     1
25123    1
        ..
15649    0
22637    1
10123    1
5600     1
14000    1
Name: seasonal_vaccine, Length: 13353, dtype: int64

In [22]:
X2_test

,doctor_recc_seasonal,chronic_med_condition,household_adults,household_children,health_insurance,health_worker,behavior,opinion_seas,income_poverty_weight,age_group_weight,child_under_6_months,education_weight,employment_status_weight
20463,1.0,0.0,1.0,2.0,1.0,0.0,5.0,7.0,2.0,3.0,0.0,3.0,2.0
14057,1.0,1.0,1.0,0.0,1.0,0.0,0.0,3.0,2.0,7.5,0.0,2.0,3.0
8372,0.0,0.0,1.0,3.0,0.0,0.0,3.0,10.0,2.0,3.0,0.0,2.0,2.0
21740,1.0,1.0,0.0,0.0,1.0,0.0,3.0,4.0,2.0,7.5,0.0,3.0,3.0
15147,0.0,0.0,0.0,0.0,1.0,1.0,3.0,3.0,2.0,7.5,0.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8904,0.0,0.0,1.0,0.0,1.0,0.0,4.0,5.0,2.0,7.5,0.0,3.0,2.0
5645,1.0,0.0,1.0,0.0,1.0,0.0,1.0,6.0,2.0,3.0,0.0,3.0,2.0
4024,0.0,0.0,1.0,0.0,1.0,0.0,3.0,4.0,2.0,7.5,1.0,3.0,2.0
8464,0.0,0.0,1.0,0.0,1.0,0.0,2.0,6.0,2.0,7.5,0.0,1.0,3.0
11990,0.0,1.0,1.0,0.0,1.0,0.0,3.0,7.0,2.0,7.5,0.0,3.0,3.0

In [23]:
y2_test

20463    1
14057    0
8372     0
21740    1
15147    1
        ..
8904     1
5645     0
4024     1
8464     0
11990    1
Name: seasonal_vaccine, Length: 13354, dtype: int64

In [24]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression(max_iter=10000)
model1.fit(X1_train, y1_train)
pred_prob1_test = model1.predict_proba(X1_test)
pred_prob1_train = model1.predict_proba(X1_train)

In [25]:
from sklearn.metrics import roc_curve
fpr1, tpr1, thresh1 = roc_curve(y1_test, pred_prob1_test[:,1], pos_label=1)

In [26]:
from sklearn.metrics import roc_auc_score
auc_score1_train = roc_auc_score(y1_train, pred_prob1_train[:,1])
auc_score1_test = roc_auc_score(y1_test, pred_prob1_test[:,1])
print(auc_score1_train,'\n',auc_score1_test)

0.768964602661385
 0.7593035765997833

In [27]:
model1.fit(X2_train, y2_train)
pred_prob2_test = model1.predict_proba(X2_test)
pred_prob2_train = model1.predict_proba(X2_train)

In [28]:
fpr2, tpr2, thresh2 = roc_curve(y2_test, pred_prob2_test[:,1], pos_label=1)

In [29]:
auc_score2_test = roc_auc_score(y2_test, pred_prob2_test[:,1])
auc_score2_train = roc_auc_score(y2_train, pred_prob2_train[:,1])
print(auc_score2_train,'\n',auc_score2_test)

0.7754228806060648
 0.7691525607149621

In [30]:
Log_test_1_xyz=pd.Series(pred_prob1_test[:,1],index=X1_test.index,name='xyz_vaccine')
Log_test_1_xyz.index.name='resp_id'
Log_test_1_seasonal=pd.Series(pred_prob2_test[:,1],index=X2_test.index,name='seasonal_vaccine')
Log_test_1_seasonal.index.name='resp_id'
df_comb1=pd.merge(Log_test_1_xyz,Log_test_1_seasonal,how='inner',on='resp_id')
df_comb1.index.name=None

In [31]:
df_comb1

       xyz_vaccine  seasonal_vaccine
20463     0.539120          0.542294
14057     0.388685          0.795777
8372      0.073098          0.081893
21740     0.115788          0.873546
15147     0.211767          0.616885
...            ...               ...
8904      0.139531          0.513072
5645      0.357153          0.434675
4024      0.220559          0.518928
8464      0.104622          0.404750
11990     0.103430          0.621760

[13354 rows x 2 columns]

In [32]:
auc_score_comb1_test = roc_auc_score(ytestcombined,df_comb1)
print(auc_score_comb1_test)

0.7642280686573727

In [33]:
X3_train, X3_test, y3_train, y3_test = train_test_split(newtrain.loc[:,'xyz_concern':'age_group_weight'],newtrain.loc[:,'xyz_vaccine':'seasonal_vaccine'], test_size=0.5, random_state=50)

In [34]:
model1.fit(X3_train, y3_train.loc[:,'xyz_vaccine'])
pred_prob3_test = model1.predict_proba(X3_test)
pred_prob3_train = model1.predict_proba(X3_train)
fpr3, tpr3, thresh3 = roc_curve(y3_test.loc[:,'xyz_vaccine'], pred_prob3_test[:,1], pos_label=1)

In [35]:
auc_score3_test = roc_auc_score(y3_test.loc[:,'xyz_vaccine'], pred_prob3_test[:,1])
auc_score3_train = roc_auc_score(y3_train.loc[:,'xyz_vaccine'], pred_prob3_train[:,1])
print(auc_score3_train,'\n',auc_score3_test)

0.7725901968311171
 0.76239389568788

In [36]:
model1.fit(X3_train, y3_train.loc[:,'seasonal_vaccine'])
pred_prob4_test = model1.predict_proba(X3_test)
pred_prob4_train = model1.predict_proba(X3_train)
fpr4, tpr4, thresh4 = roc_curve(y3_test.loc[:,'seasonal_vaccine'], pred_prob4_test[:,1], pos_label=1)

In [37]:
auc_score4_test = roc_auc_score(y3_test.loc[:,'seasonal_vaccine'], pred_prob4_test[:,1])
auc_score4_train = roc_auc_score(y3_train.loc[:,'seasonal_vaccine'], pred_prob4_train[:,1])
print(auc_score4_train,'\n',auc_score4_test)

0.7829249541411328
 0.7755473026594641

In [38]:
Log_test_2_xyz=pd.Series(pred_prob3_test[:,1],index=X3_test.index,name='xyz_vaccine')
Log_test_2_xyz.index.name='resp_id'
Log_test_2_seasonal=pd.Series(pred_prob4_test[:,1],index=X3_test.index,name='seasonal_vaccine')
Log_test_2_seasonal.index.name='resp_id'
df_comb2=pd.merge(Log_test_2_xyz,Log_test_2_seasonal,how='inner',on='resp_id')
df_comb2.index.name=None

In [39]:
df_comb2

       xyz_vaccine  seasonal_vaccine
20463     0.494070          0.552523
14057     0.355800          0.727085
8372      0.075956          0.085520
21740     0.087136          0.829218
15147     0.200682          0.642038
...            ...               ...
8904      0.139125          0.512975
5645      0.332972          0.383016
4024      0.206617          0.593931
8464      0.109658          0.455680
11990     0.116064          0.548769

[13354 rows x 2 columns]

In [40]:
auc_score_comb2_test = roc_auc_score(ytestcombined,df_comb2)
print(auc_score_comb2_test)

0.768970599173672

In [41]:
from sklearn.linear_model import LinearRegression
model2 = LinearRegression()

In [42]:
model2.fit(X1_train, y1_train)
predict1_test = model2.predict(X1_test)
predict1_train = model2.predict(X1_train)
auc_score5_test = roc_auc_score(y1_test, predict1_test)
auc_score5_train = roc_auc_score(y1_train, predict1_train)
print(auc_score5_train,'\n',auc_score5_test)

0.7679608185159738
 0.7599683497617186

In [43]:
model2.fit(X2_train, y2_train)
predict2_test = model2.predict(X2_test)
predict2_train = model2.predict(X2_train)
auc_score6_test = roc_auc_score(y2_test, predict2_test)
auc_score6_train = roc_auc_score(y2_train, predict2_train)
print(auc_score6_train,'\n',auc_score6_test)

0.7751704512296216
 0.7694172558550596

In [44]:
model2.fit(X3_train, y3_train.loc[:,'xyz_vaccine'])
predict3_test = model2.predict(X3_test)
predict3_train = model2.predict(X3_train)
auc_score7_test = roc_auc_score(y3_test.loc[:,'xyz_vaccine'], predict3_test)
auc_score7_train = roc_auc_score(y3_train.loc[:,'xyz_vaccine'], predict3_train)
print(auc_score7_train,'\n',auc_score7_test)

0.7714549866750023
 0.7630575275507087

In [45]:
model2.fit(X3_train, y3_train.loc[:,'seasonal_vaccine'])
predict4_test = model2.predict(X3_test)
predict4_train = model2.predict(X3_train)
auc_score8_test = roc_auc_score(y3_test.loc[:,'seasonal_vaccine'], predict4_test)
auc_score8_train = roc_auc_score(y3_train.loc[:,'seasonal_vaccine'], predict4_train)
print(auc_score8_train,'\n',auc_score8_test)

0.782680681457921
 0.7757872090506551

In [46]:
from sklearn.neighbors import KNeighborsClassifier
model3 = KNeighborsClassifier(n_neighbors=12)

In [47]:
model3.fit(X1_train, y1_train)
predprob1_test = model3.predict_proba(X1_test)
predprob1_train = model3.predict_proba(X1_train)
auc_score9_test = roc_auc_score(y1_test, predprob1_test[:,1])
auc_score9_train = roc_auc_score(y1_train, predprob1_train[:,1])
print(auc_score9_train,'\n',auc_score9_test)

0.8199462482007153
 0.6886005836805036

In [48]:
model3.fit(X2_train, y2_train)
predprob2_test = model3.predict_proba(X2_test)
predprob2_train = model3.predict_proba(X2_train)
auc_score10_test = roc_auc_score(y2_test, predprob2_test[:,1])
auc_score10_train = roc_auc_score(y2_train, predprob2_train[:,1])
print(auc_score10_train,'\n',auc_score10_test)

0.8094685125729117
 0.7231473707467965

In [49]:
model3.fit(X3_train, y3_train.loc[:,'xyz_vaccine'])
predprob3_test = model3.predict_proba(X3_test)
predprob3_train = model3.predict_proba(X3_train)
auc_score11_test = roc_auc_score(y3_test.loc[:,'xyz_vaccine'], predprob3_test[:,1])
auc_score11_train = roc_auc_score(y3_train.loc[:,'xyz_vaccine'], predprob3_train[:,1])
print(auc_score11_train,'\n',auc_score11_test)

0.8212027772488087
 0.6924625888027212

In [50]:
model3.fit(X3_train, y3_train.loc[:,'seasonal_vaccine'])
predprob4_test = model3.predict_proba(X3_test)
predprob4_train = model3.predict_proba(X3_train)
auc_score12_test = roc_auc_score(y3_test.loc[:,'seasonal_vaccine'], predprob4_test[:,1])
auc_score12_train = roc_auc_score(y3_train.loc[:,'seasonal_vaccine'], predprob4_train[:,1])
print(auc_score12_train,'\n',auc_score12_test)

0.8139073422181202
 0.7274712545203676

In [51]:
Log_Pred1_train=pd.Series(pred_prob1_train[:,1],index=X1_train.index,name='Log_Pred1')
Log_Pred1_train.index.name='resp_id'
Log_Pred1_train

resp_id
3480     0.128848
22041    0.673202
25527    0.063232
3058     0.596157
25123    0.065792
           ...
15649    0.080656
22637    0.051594
10123    0.250123
5600     0.200528
14000    0.127435
Name: Log_Pred1, Length: 13353, dtype: float64

In [52]:
Log_Pred2_train=pd.Series(pred_prob3_train[:,1],index=X3_train.index,name='Log_Pred2')
Log_Pred2_train.index.name='resp_id'
Log_Pred2_train

resp_id
3480     0.111795
22041    0.667283
25527    0.071886
3058     0.670688
25123    0.066758
           ...
15649    0.086577
22637    0.047657
10123    0.213073
5600     0.221410
14000    0.128977
Name: Log_Pred2, Length: 13353, dtype: float64

In [53]:
dfxyz_train_log=pd.merge(Log_Pred1_train,Log_Pred2_train,how='inner',on='resp_id')
dfxyz_train_log

         Log_Pred1  Log_Pred2
resp_id
3480      0.128848   0.111795
22041     0.673202   0.667283
25527     0.063232   0.071886
3058      0.596157   0.670688
25123     0.065792   0.066758
...            ...        ...
15649     0.080656   0.086577
22637     0.051594   0.047657
10123     0.250123   0.213073
5600      0.200528   0.221410
14000     0.127435   0.128977

[13353 rows x 2 columns]

In [54]:
Lin_Pred1_train=pd.Series(predict1_train,index=X1_train.index,name='Lin_Pred1')
Lin_Pred1_train.index.name='resp_id'
Lin_Pred1_train

resp_id
3480     0.135725
22041    0.637172
25527    0.029547
3058     0.569753
25123    0.039599
           ...
15649    0.064593
22637    0.000856
10123    0.247216
5600     0.209201
14000    0.134337
Name: Lin_Pred1, Length: 13353, dtype: float64

In [55]:
Lin_Pred2_train=pd.Series(predict3_train,index=X3_train.index,name='Lin_Pred2')
Lin_Pred2_train.index.name='resp_id'
Lin_Pred2_train

resp_id
3480     0.114168
22041    0.633455
25527    0.046634
3058     0.614348
25123    0.044401
           ...
15649    0.074708
22637   -0.009709
10123    0.219433
5600     0.226237
14000    0.138162
Name: Lin_Pred2, Length: 13353, dtype: float64

In [56]:
dfxyz_train_all=pd.merge(dfxyz_train_log,Lin_Pred1_train,how='inner',on='resp_id')
dfxyz_train_all

         Log_Pred1  Log_Pred2  Lin_Pred1
resp_id
3480      0.128848   0.111795   0.135725
22041     0.673202   0.667283   0.637172
25527     0.063232   0.071886   0.029547
3058      0.596157   0.670688   0.569753
25123     0.065792   0.066758   0.039599
...            ...        ...        ...
15649     0.080656   0.086577   0.064593
22637     0.051594   0.047657   0.000856
10123     0.250123   0.213073   0.247216
5600      0.200528   0.221410   0.209201
14000     0.127435   0.128977   0.134337

[13353 rows x 3 columns]

In [57]:
dfxyz_train_all=pd.merge(dfxyz_train_all,Lin_Pred2_train,how='inner',on='resp_id')

In [58]:
dfxyz_train_all

         Log_Pred1  Log_Pred2  Lin_Pred1  Lin_Pred2
resp_id
3480      0.128848   0.111795   0.135725   0.114168
22041     0.673202   0.667283   0.637172   0.633455
25527     0.063232   0.071886   0.029547   0.046634
3058      0.596157   0.670688   0.569753   0.614348
25123     0.065792   0.066758   0.039599   0.044401
...            ...        ...        ...        ...
15649     0.080656   0.086577   0.064593   0.074708
22637     0.051594   0.047657   0.000856  -0.009709
10123     0.250123   0.213073   0.247216   0.219433
5600      0.200528   0.221410   0.209201   0.226237
14000     0.127435   0.128977   0.134337   0.138162

[13353 rows x 4 columns]

In [59]:
Log_Pred1_test=pd.Series(pred_prob1_test[:,1],index=X1_test.index,name='Log_Pred1')
Log_Pred1_test.index.name='resp_id'
Log_Pred2_test=pd.Series(pred_prob3_test[:,1],index=X3_test.index,name='Log_Pred2')
Log_Pred2_test.index.name='resp_id'
dfxyz_test_log=pd.merge(Log_Pred1_test,Log_Pred2_test,how='inner',on='resp_id')
Lin_Pred1_test=pd.Series(predict1_test,index=X1_test.index,name='Lin_Pred1')
Lin_Pred1_test.index.name='resp_id'
Lin_Pred2_test=pd.Series(predict3_test,index=X3_test.index,name='Lin_Pred2')
Lin_Pred2_test.index.name='resp_id'
dfxyz_test_all=pd.merge(dfxyz_test_log,Lin_Pred1_test,how='inner',on='resp_id')
dfxyz_test_all=pd.merge(dfxyz_test_all,Lin_Pred2_test,how='inner',on='resp_id')

In [60]:
dfxyz_test_all

         Log_Pred1  Log_Pred2  Lin_Pred1  Lin_Pred2
resp_id
20463     0.539120   0.494070   0.532786   0.508841
14057     0.388685   0.355800   0.452193   0.435166
8372      0.073098   0.075956   0.063494   0.068958
21740     0.115788   0.087136   0.120100   0.078781
15147     0.211767   0.200682   0.250192   0.243814
...            ...        ...        ...        ...
8904      0.139531   0.139125   0.148558   0.150415
5645      0.357153   0.332972   0.433443   0.417758
4024      0.220559   0.206617   0.230106   0.221453
8464      0.104622   0.109658   0.104991   0.113878
11990     0.103430   0.116064   0.102155   0.121664

[13354 rows x 4 columns]

In [61]:
dfxyz_test_log

         Log_Pred1  Log_Pred2
resp_id
20463     0.539120   0.494070
14057     0.388685   0.355800
8372      0.073098   0.075956
21740     0.115788   0.087136
15147     0.211767   0.200682
...            ...        ...
8904      0.139531   0.139125
5645      0.357153   0.332972
4024      0.220559   0.206617
8464      0.104622   0.109658
11990     0.103430   0.116064

[13354 rows x 2 columns]

In [62]:
model1.fit(dfxyz_train_log, y1_train)
new_pred1_test_log = model1.predict_proba(dfxyz_test_log)
new_pred1_train_log = model1.predict_proba(dfxyz_train_log)
new_auc_score1_train_log = roc_auc_score(y1_train, new_pred1_train_log[:,1])
new_auc_score1_test_log = roc_auc_score(y1_test, new_pred1_test_log[:,1])
print(new_auc_score1_train_log,'\n',new_auc_score1_test_log)

0.7711647584181086
 0.761294321133976

In [63]:
model1.fit(dfxyz_train_all, y1_train)
new_pred1_test_all = model1.predict_proba(dfxyz_test_all)
new_pred1_train_all = model1.predict_proba(dfxyz_train_all)
new_auc_score1_train_all = roc_auc_score(y1_train, new_pred1_train_all[:,1])
new_auc_score1_test_all = roc_auc_score(y1_test, new_pred1_test_all[:,1])
print(new_auc_score1_train_all,'\n',new_auc_score1_test_all)

0.7709162303927753
 0.7623905053581812